In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import cross_val_score, train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import manifold, decomposition, linear_model, ensemble, neighbors, cross_validation

In [7]:
train = pd.read_csv("../credit_train.csv", sep = ";", encoding='cp1251')
test = pd.read_csv("../credit_test.csv", sep = ";", encoding='cp1251')

In [8]:
city_train = pd.read_csv("../datasets/credit_train_clean.csv")
city_test = pd.read_csv("../datasets/credit_test_clean.csv")

In [9]:
train.head(2)

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,M,48,MAR,UMN,"59998,00",10,1.6,"0,770249",GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,2,F,28,MAR,UMN,"10889,00",6,1.1,"0,248514",GRD,МОСКВА,43000.0,2.0,0.0,0

In [10]:
y = train['open_account_flg']

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170746 entries, 0 to 170745
Data columns (total 15 columns):
client_id               170746 non-null int64
gender                  170746 non-null object
age                     170746 non-null int64
marital_status          170746 non-null object
job_position            170746 non-null object
credit_sum              170746 non-null object
credit_month            170746 non-null int64
tariff_id               170746 non-null float64
score_shk               170746 non-null object
education               170746 non-null object
living_region           170554 non-null object
monthly_income          170745 non-null float64
credit_count            161516 non-null float64
overdue_credit_count    161516 non-null float64
open_account_flg        170746 non-null int64
dtypes: float64(4), int64(4), object(7)
memory usage: 19.5+ MB

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91940 entries, 0 to 91939
Data columns (total 14 columns):
client_id               91940 non-null int64
gender                  91940 non-null object
age                     91940 non-null int64
marital_status          91940 non-null object
job_position            91940 non-null object
credit_sum              91940 non-null object
credit_month            91940 non-null int64
tariff_id               91940 non-null float64
score_shk               91940 non-null object
education               91940 non-null object
living_region           91824 non-null object
monthly_income          91940 non-null int64
credit_count            87237 non-null float64
overdue_credit_count    87237 non-null float64
dtypes: float64(3), int64(4), object(7)
memory usage: 9.8+ MB

I работа с пропусками в данных

In [13]:
train[train.monthly_income.isnull()]

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
19639,19640,F,33,MAR,BIS,"13009,00",10,1.6,"0,535834",SCH,ПРИМОРСКИЙ КРАЙ,NaN,2.0,0.0,0

In [14]:
train.monthly_income.fillna(value=train.monthly_income.mean(), inplace=True)

In [15]:
train.living_region = city_train.living_region
test.living_region = city_test.living_region

In [16]:
train.credit_count.fillna(value = train.credit_count.mean(), inplace=True)
train.overdue_credit_count.fillna(value = train.overdue_credit_count.mean(), inplace=True)

In [17]:
test.credit_count.fillna(value = train.credit_count.mean(), inplace=True)
test.overdue_credit_count.fillna(value = train.overdue_credit_count.mean(), inplace=True)

In [18]:
train.gender = train.gender.map({"M":1, "F":0})
test.gender = test.gender.map({"M":1, "F":0})

In [19]:
train.rename(columns={"open_account_flg":"target"}, inplace=True)

кодировка категориальных признаков через среднее значения таргета

In [20]:
train.columns

Index(['client_id', 'gender', 'age', 'marital_status', 'job_position',
       'credit_sum', 'credit_month', 'tariff_id', 'score_shk', 'education',
       'living_region', 'monthly_income', 'credit_count',
       'overdue_credit_count', 'target'],
      dtype='object')

In [21]:
job_position_dict = pd.DataFrame(train.groupby("job_position").target.mean()).to_dict()
train['job_position'] = train.job_position.map(job_position_dict["target"])
test['job_position'] = test.job_position.map(job_position_dict["target"])

marital_status_dict = pd.DataFrame(train.groupby("marital_status").target.mean()).to_dict()
train['marital_status'] = train.marital_status.map(marital_status_dict["target"])
test['marital_status'] = test.marital_status.map(marital_status_dict["target"])

edu_dict = pd.DataFrame(train.groupby("education").target.mean()).to_dict()
train['education'] = train.education.map(edu_dict["target"])
test['education'] = test.education.map(edu_dict["target"])

tariff_dict = pd.DataFrame(train.groupby("tariff_id").target.mean()).to_dict()
train['tariff_id'] = train.tariff_id.map(tariff_dict["target"])
test['tariff_id'] = test.tariff_id.map(tariff_dict["target"])

In [22]:
train_col = train.columns.drop("target")
dummy_df = pd.concat([train[train_col], test], axis=0)
dummy_df = pd.get_dummies(dummy_df, columns=["living_region"], drop_first=True)
train = dummy_df[:train.shape[0]]
test = dummy_df[train.shape[0]:]

In [23]:
train.monthly_income = train['monthly_income'].astype(float)
test.monthly_income = test['monthly_income'].astype(float)

/Users/Roman/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

Генерация данных о зарплате и выплатам по кредиту

In [24]:
tmp = train['credit_sum'].apply(lambda x: x.replace(",","."))
train['credit_sum'] = tmp
tmp = test['credit_sum'].apply(lambda x: x.replace(",","."))
test['credit_sum'] = tmp

train['credit_sum'] = train['credit_sum'].astype(float)
test['credit_sum'] = test['credit_sum'].astype(float)

/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

credit_pay - ежемесячный расход на кредит

money_for_life - разность между зп и платой по кредиту

In [25]:
train["credit_pay"] = train["credit_sum"] / train["credit_month"]
train["money_for_life"] = train["monthly_income"] - train["credit_pay"]

test["credit_pay"] = test["credit_sum"] / test["credit_month"]
test["money_for_life"] = test["monthly_income"] - test["credit_pay"]

/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

анализ score_shk

In [26]:
tmp = train['score_shk'].apply(lambda x: x.replace(",","."))
train.score_shk = tmp

tmp = test['score_shk'].apply(lambda x: x.replace(",","."))
test.score_shk = tmp

train['score_shk'] = train['score_shk'].astype(float)
test['score_shk'] = test['score_shk'].astype(float)

/Users/Roman/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
train['target'] = y

/Users/Roman/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170746 entries, 0 to 170745
Data columns (total 98 columns):
client_id                             170746 non-null int64
gender                                170746 non-null int64
age                                   170746 non-null int64
marital_status                        170746 non-null float64
job_position                          170746 non-null float64
credit_sum                            170746 non-null float64
credit_month                          170746 non-null int64
tariff_id                             170746 non-null float64
score_shk                             170746 non-null float64
education                             170746 non-null float64
monthly_income                        170746 non-null float64
credit_count                          170746 non-null float64
overdue_credit_count                  170746 non-null float64
living_region_АЛТАЙСКИЙ               170746 non-null uint8
living_region_АМУРСКАЯ                170746 non-null uint8
living_region_АРХАНГЕЛЬСКАЯ           170746 non-null uint8
living_region_АСТРАХАНСКАЯ            170746 non-null uint8
living_region_БАШКОРТОСТАН            170746 non-null uint8
living_region_БЕЛГОРОДСКАЯ            170746 non-null uint8
living_region_БРЯНСКАЯ                170746 non-null uint8
living_region_БУРЯТИЯ                 170746 non-null uint8
living_region_ВЛАДИМИРСКАЯ            170746 non-null uint8
living_region_ВОЛГОГРАДСКАЯ           170746 non-null uint8
living_region_ВОЛОГОДСКАЯ             170746 non-null uint8
living_region_ВОРОНЕЖСКАЯ             170746 non-null uint8
living_region_ДАГЕСТАН                170746 non-null uint8
living_region_ЕВРЕЙСКАЯ               170746 non-null uint8
living_region_ЗАБАЙКАЛЬСКИЙ           170746 non-null uint8
living_region_ИВАНОВСКАЯ              170746 non-null uint8
living_region_ИНГУШЕТИЯ               170746 non-null uint8
living_region_ИРКУТСКАЯ               170746 non-null uint8
living_region_КАБАРДИНО-БАЛКАРСКАЯ    170746 non-null uint8
living_region_КАЛИНИНГРАДСКАЯ         170746 non-null uint8
living_region_КАЛМЫКИЯ                170746 non-null uint8
living_region_КАЛУЖСКАЯ               170746 non-null uint8
living_region_КАМЧАТСКИЙ              170746 non-null uint8
living_region_КАРАЧАЕВО-ЧЕРКЕССКАЯ    170746 non-null uint8
living_region_КАРЕЛИЯ                 170746 non-null uint8
living_region_КЕМЕРОВСКАЯ             170746 non-null uint8
living_region_КИРОВСКАЯ               170746 non-null uint8
living_region_КОМИ                    170746 non-null uint8
living_region_КОСТРОМСКАЯ             170746 non-null uint8
living_region_КРАСНОДАРСКИЙ           170746 non-null uint8
living_region_КРАСНОЯРСКИЙ            170746 non-null uint8
living_region_КУРГАНСКАЯ              170746 non-null uint8
living_region_КУРСКАЯ                 170746 non-null uint8
living_region_ЛЕНИНГРАДСКАЯ           170746 non-null uint8
living_region_ЛИПЕЦКАЯ                170746 non-null uint8
living_region_МАГАДАНСКАЯ             170746 non-null uint8
living_region_МАРИЙЭЛ                 170746 non-null uint8
living_region_МОРДОВИЯ                170746 non-null uint8
living_region_МОСКОВСКАЯ              170746 non-null uint8
living_region_МУРМАНСКАЯ              170746 non-null uint8
living_region_НЕНЕЦКИЙ                170746 non-null uint8
living_region_НИЖЕГОРОДСКАЯ           170746 non-null uint8
living_region_НОВГОРОДСКАЯ            170746 non-null uint8
living_region_НОВОСИБИРСКАЯ           170746 non-null uint8
living_region_ОМСКАЯ                  170746 non-null uint8
living_region_ОРЕНБУРГСКАЯ            170746 non-null uint8
living_region_ОРЛОВСКАЯ               170746 non-null uint8
living_region_ОСЕТИЯ                  170746 non-null uint8
living_region_ПЕНЗЕНСКАЯ              170746 non-null uint8
living_region_ПЕРМСКИЙ                170746 non-null uint8
living_region_ПРИМОРСКИЙ              170746 non-null uint8
living_region_ПСКОВСКАЯ               170746 non-null uint8
living_region_РОСТОВСКАЯ              170746 non-null uint8
living_region_РЯЗАНСКАЯ               170746 non-null uint8
living_region_САМАРСКАЯ               170746 non-null uint8
living_region_САРАТОВСКАЯ             170746 non-null uint8
living_region_САХА                    170746 non-null uint8
living_region_САХАЛИНСКАЯ             170746 non-null uint8
living_region_СВЕРДЛОВСКАЯ            170746 non-null uint8
living_region_СЕВЕРНАЯОСЕТИЯ          170746 non-null uint8
living_region_СМОЛЕНСКАЯ              170746 non-null uint8
living_region_СТАВРОПОЛЬСКИЙ          170746 non-null uint8
living_region_ТАМБОВСКАЯ              170746 non-null uint8
living_region_ТАТАРСТАН               170746 non-null uint8
living_region_ТВЕРСКАЯ                170746 non-null uint8
living_region_ТОМСКАЯ                 170746 non-null uint8
living_region_ТУЛЬСКАЯ                170746 non-null uint8
living_region_ТЫВА                    170746 non-null uint8
living_region_ТЮМЕНСКАЯ               170746 non-null uint8
living_region_УДМУРТСКАЯ              170746 non-null uint8
living_region_УЛЬЯНОВСКАЯ             170746 non-null uint8
living_region_ХАБАРОВСКИЙ             170746 non-null uint8
living_region_ХАКАСИЯ                 170746 non-null uint8
living_region_ХАНТЫ-МАНСИЙСКИЙ        170746 non-null uint8
living_region_ЧЕЛЯБИНСКАЯ             170746 non-null uint8
living_region_ЧЕЧЕНСКАЯ               170746 non-null uint8
living_region_ЧИТИНСКАЯ               170746 non-null uint8
living_region_ЧУВАШСКАЯ               170746 non-null uint8
living_region_ЧУКОТСКИЙ               170746 non-null uint8
living_region_ЭВЕНКИЙСКИЙ             170746 non-null uint8
living_region_ЯМАЛО-НЕНЕЦКИЙ          170746 non-null uint8
living_region_ЯРОСЛАВСКАЯ             170746 non-null uint8
credit_pay                            170746 non-null float64
money_for_life                        170746 non-null float64
target                                170746 non-null int64
dtypes: float64(11), int64(5), uint8(82)
memory usage: 35.5 MB

In [29]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91940 entries, 0 to 91939
Data columns (total 97 columns):
client_id                             91940 non-null int64
gender                                91940 non-null int64
age                                   91940 non-null int64
marital_status                        91940 non-null float64
job_position                          91940 non-null float64
credit_sum                            91940 non-null float64
credit_month                          91940 non-null int64
tariff_id                             91940 non-null float64
score_shk                             91940 non-null float64
education                             91940 non-null float64
monthly_income                        91940 non-null float64
credit_count                          91940 non-null float64
overdue_credit_count                  91940 non-null float64
living_region_АЛТАЙСКИЙ               91940 non-null uint8
living_region_АМУРСКАЯ                91940 non-null uint8
living_region_АРХАНГЕЛЬСКАЯ           91940 non-null uint8
living_region_АСТРАХАНСКАЯ            91940 non-null uint8
living_region_БАШКОРТОСТАН            91940 non-null uint8
living_region_БЕЛГОРОДСКАЯ            91940 non-null uint8
living_region_БРЯНСКАЯ                91940 non-null uint8
living_region_БУРЯТИЯ                 91940 non-null uint8
living_region_ВЛАДИМИРСКАЯ            91940 non-null uint8
living_region_ВОЛГОГРАДСКАЯ           91940 non-null uint8
living_region_ВОЛОГОДСКАЯ             91940 non-null uint8
living_region_ВОРОНЕЖСКАЯ             91940 non-null uint8
living_region_ДАГЕСТАН                91940 non-null uint8
living_region_ЕВРЕЙСКАЯ               91940 non-null uint8
living_region_ЗАБАЙКАЛЬСКИЙ           91940 non-null uint8
living_region_ИВАНОВСКАЯ              91940 non-null uint8
living_region_ИНГУШЕТИЯ               91940 non-null uint8
living_region_ИРКУТСКАЯ               91940 non-null uint8
living_region_КАБАРДИНО-БАЛКАРСКАЯ    91940 non-null uint8
living_region_КАЛИНИНГРАДСКАЯ         91940 non-null uint8
living_region_КАЛМЫКИЯ                91940 non-null uint8
living_region_КАЛУЖСКАЯ               91940 non-null uint8
living_region_КАМЧАТСКИЙ              91940 non-null uint8
living_region_КАРАЧАЕВО-ЧЕРКЕССКАЯ    91940 non-null uint8
living_region_КАРЕЛИЯ                 91940 non-null uint8
living_region_КЕМЕРОВСКАЯ             91940 non-null uint8
living_region_КИРОВСКАЯ               91940 non-null uint8
living_region_КОМИ                    91940 non-null uint8
living_region_КОСТРОМСКАЯ             91940 non-null uint8
living_region_КРАСНОДАРСКИЙ           91940 non-null uint8
living_region_КРАСНОЯРСКИЙ            91940 non-null uint8
living_region_КУРГАНСКАЯ              91940 non-null uint8
living_region_КУРСКАЯ                 91940 non-null uint8
living_region_ЛЕНИНГРАДСКАЯ           91940 non-null uint8
living_region_ЛИПЕЦКАЯ                91940 non-null uint8
living_region_МАГАДАНСКАЯ             91940 non-null uint8
living_region_МАРИЙЭЛ                 91940 non-null uint8
living_region_МОРДОВИЯ                91940 non-null uint8
living_region_МОСКОВСКАЯ              91940 non-null uint8
living_region_МУРМАНСКАЯ              91940 non-null uint8
living_region_НЕНЕЦКИЙ                91940 non-null uint8
living_region_НИЖЕГОРОДСКАЯ           91940 non-null uint8
living_region_НОВГОРОДСКАЯ            91940 non-null uint8
living_region_НОВОСИБИРСКАЯ           91940 non-null uint8
living_region_ОМСКАЯ                  91940 non-null uint8
living_region_ОРЕНБУРГСКАЯ            91940 non-null uint8
living_region_ОРЛОВСКАЯ               91940 non-null uint8
living_region_ОСЕТИЯ                  91940 non-null uint8
living_region_ПЕНЗЕНСКАЯ              91940 non-null uint8
living_region_ПЕРМСКИЙ                91940 non-null uint8
living_region_ПРИМОРСКИЙ              91940 non-null uint8
living_region_ПСКОВСКАЯ               91940 non-null uint8
living_region_РОСТОВСКАЯ              91940 non-null uint8
living_region_РЯЗАНСКАЯ               91940 non-null uint8
living_region_САМАРСКАЯ               91940 non-null uint8
living_region_САРАТОВСКАЯ             91940 non-null uint8
living_region_САХА                    91940 non-null uint8
living_region_САХАЛИНСКАЯ             91940 non-null uint8
living_region_СВЕРДЛОВСКАЯ            91940 non-null uint8
living_region_СЕВЕРНАЯОСЕТИЯ          91940 non-null uint8
living_region_СМОЛЕНСКАЯ              91940 non-null uint8
living_region_СТАВРОПОЛЬСКИЙ          91940 non-null uint8
living_region_ТАМБОВСКАЯ              91940 non-null uint8
living_region_ТАТАРСТАН               91940 non-null uint8
living_region_ТВЕРСКАЯ                91940 non-null uint8
living_region_ТОМСКАЯ                 91940 non-null uint8
living_region_ТУЛЬСКАЯ                91940 non-null uint8
living_region_ТЫВА                    91940 non-null uint8
living_region_ТЮМЕНСКАЯ               91940 non-null uint8
living_region_УДМУРТСКАЯ              91940 non-null uint8
living_region_УЛЬЯНОВСКАЯ             91940 non-null uint8
living_region_ХАБАРОВСКИЙ             91940 non-null uint8
living_region_ХАКАСИЯ                 91940 non-null uint8
living_region_ХАНТЫ-МАНСИЙСКИЙ        91940 non-null uint8
living_region_ЧЕЛЯБИНСКАЯ             91940 non-null uint8
living_region_ЧЕЧЕНСКАЯ               91940 non-null uint8
living_region_ЧИТИНСКАЯ               91940 non-null uint8
living_region_ЧУВАШСКАЯ               91940 non-null uint8
living_region_ЧУКОТСКИЙ               91940 non-null uint8
living_region_ЭВЕНКИЙСКИЙ             91940 non-null uint8
living_region_ЯМАЛО-НЕНЕЦКИЙ          91940 non-null uint8
living_region_ЯРОСЛАВСКАЯ             91940 non-null uint8
credit_pay                            91940 non-null float64
money_for_life                        91940 non-null float64
dtypes: float64(11), int64(4), uint8(82)
memory usage: 18.4 MB

In [30]:
train.to_csv("../datasets/train_target_encode.csv", columns=train.columns, index=False)
test.to_csv("../datasets/test_target_encode.csv", columns=test.columns, index=False)