In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import GradientBoostingClassifier

In [2]:
transactions = pd.read_csv('transactions.csv')
customers_gender = pd.read_csv('customers_gender_train.csv')

In [3]:
customers_gender = customers_gender.set_index('customer_id')

NameError: name 'transactions' is not defined

In [5]:
Y_train = customers_gender.loc[X.index].gender
Y_train = Y_train.reset_index()
del Y_train['customer_id']
Y_train = Y_train.dropna(0)

In [13]:
Y_train.head(10)

    gender
0      0.0
1      1.0
2      1.0
3      0.0
4      0.0
5      0.0
6      0.0
8      1.0
9      0.0
10     1.0

In [7]:
X_train = X.reset_index()
X_train = X_train.loc[Y_train.index].set_index('customer_id')

In [11]:
X_train.head(2)

,742,1711,1731,1799,2741,3000,3351,3501,4111,4112,...,8299,8398,8641,8699,8999,9211,9222,9311,9399,9402
customer_id,,,,,,,,,,,,,,,,,,,,,
6815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0