In [12]:
import pandas as pd
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'sex': ['male', 'female', 'asdf', 'hz', 'female']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'sex'])
df

  first_name last_name     sex
0      Jason    Miller    male
1      Molly  Jacobson  female
2       Tina       Ali    asdf
3       Jake    Milner      hz
4        Amy     Cooze  female

In [13]:
df_sex = pd.get_dummies(df['sex'])

In [14]:
df_new = pd.concat([df, df_sex], axis=1)
df_new

  first_name last_name     sex  asdf  female  hz  male
0      Jason    Miller    male     0       0   0     1
1      Molly  Jacobson  female     0       1   0     0
2       Tina       Ali    asdf     1       0   0     0
3       Jake    Milner      hz     0       0   1     0
4        Amy     Cooze  female     0       1   0     0

In [21]:
test = {'first_name': ['ASF', 'MoSFGy', 'TSFGa', 'DSGFe'], 
        'last_name': ['MiSFGr', 'SAGn', 'LKJ', ';LKNLKN'], 
        'sex': ['female', 'male', 'hz', 'male' ]}
td = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'sex'])
td

  first_name last_name     sex
0      Jason    Miller    male
1      Molly  Jacobson  female
2       Tina       Ali    asdf
3       Jake    Milner      hz
4        Amy     Cooze  female

In [23]:
td_sex = pd.get_dummies(td['sex'])

In [24]:
td_new = pd.concat([td, td_sex], axis=1)
td_new

  first_name last_name     sex  asdf  female  hz  male
0      Jason    Miller    male     0       0   0     1
1      Molly  Jacobson  female     0       1   0     0
2       Tina       Ali    asdf     1       0   0     0
3       Jake    Milner      hz     0       0   1     0
4        Amy     Cooze  female     0       1   0     0